<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>UsersControllerAdd</servlet-name>
		<servlet-class>controller.users.UsersControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerAdd</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>UsersControllerIndex</servlet-name>
		<servlet-class>controller.users.UsersControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerView</servlet-name>
		<servlet-class>controller.users.UsersControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerView</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerDelete</servlet-name>
		<servlet-class>controller.users.UsersControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerEdit</servlet-name>
		<servlet-class>controller.users.UsersControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerEdit</servlet-name>
		<url-pattern>/users/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerLogin</servlet-name>
		<servlet-class>controller.users.UsersControllerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogin</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerLogout</servlet-name>
		<servlet-class>controller.users.UsersControllerLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogout</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MessagesControllerAdd</servlet-name>
		<servlet-class>controller.messages.MessagesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessagesControllerAdd</servlet-name>
		<url-pattern>/messages/add</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>MessagesControllerIndex</servlet-name>
		<servlet-class>controller.messages.MessagesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessagesControllerIndex</servlet-name>
		<url-pattern>/messages</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MessagesControllerView</servlet-name>
		<servlet-class>controller.messages.MessagesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessagesControllerView</servlet-name>
		<url-pattern>/messages/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MessagesControllerDelete</servlet-name>
		<servlet-class>controller.messages.MessagesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessagesControllerDelete</servlet-name>
		<url-pattern>/messages/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MessagesControllerEdit</servlet-name>
		<servlet-class>controller.messages.MessagesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessagesControllerEdit</servlet-name>
		<url-pattern>/messages/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RolesControllerAdd</servlet-name>
		<servlet-class>controller.roles.RolesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerAdd</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RolesControllerIndex</servlet-name>
		<servlet-class>controller.roles.RolesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerIndex</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>RolesControllerView</servlet-name>
		<servlet-class>controller.roles.RolesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerView</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>RolesControllerDelete</servlet-name>
		<servlet-class>controller.roles.RolesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerDelete</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RolesControllerEdit</servlet-name>
		<servlet-class>controller.roles.RolesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerEdit</servlet-name>
		<url-pattern>/roles/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ResourcesControllerView</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerView</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourcesControllerEdit</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerEdit</servlet-name>
		<url-pattern>/resources/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerAdd</servlet-name>
		<servlet-class>controller.access.AccessControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>AccessControllerIndex</servlet-name>
		<servlet-class>controller.access.AccessControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>AccessControllerView</servlet-name>
		<servlet-class>controller.access.AccessControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerView</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>AccessControllerDelete</servlet-name>
		<servlet-class>controller.access.AccessControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerDelete</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerEdit</servlet-name>
		<servlet-class>controller.access.AccessControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerEdit</servlet-name>
		<url-pattern>/access/edit</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
